.ota {
    width: 200px;
    height: 300px;
    background-color: blue;
}

.bola {
    width: 45px;
    height: 565px;
    background-color: gray;
}

.dilshod {
    width: 400px;
    height: 210px;
    background-color: aliceblue;
}

.suv {
    width: 500px;
    height: 100px;
    background-color: aqua;
}

.havo {
    width: 600px;
    height: 100px;
    background-color: blueviolet;
}

.kun {
    width: 800px;
    height: 300px;
    background-color: azure;
}

.kompyuter {
    width: 150px;
    height: 150px;
    background-color: honeydew;
}

.moshina {
    width: 410px;
    height: 400px;
    background-color: azure;
}
.maktab{
    width: 650px;
    height: 123px;
    background-color: blueviolet;
}
.damas{
    width: 200px;
    height: 100px;
    background-color: beige;
}
.matiz{
    width: 100px;
    height: 100px;
    background-color: darkgreen;
}
.malibu{
    width: 200px;
    height: 200px;
background-color: cornsilk;
}
.nexia{
    width: 300px;
    height: 300px;
    background-color: darkgrey;
}
.cobalt{
    width: 400px;
    height: 400px;
    background-color: darkgray;
}
.nexia2{
    width: 500px;
    height: 500px;
    background-color: darkolivegreen;
}
.nexia3{
    width: 600px;
    height: 600;
    background-color: darkblue;
}
.teko{
    width: 700px;
    height: 700px;
    background-color: cyan;
}
.sport{
    width: 800px;
    height: 800px;
    background-color: black;
}
.xotira{
    width: 900px;
    height: 900px;
    background-color: dimgray;
}
.ssd{
    width: 100px;
    height: 900px;
    background-color: darkviolet;
}
.hdd{
    width: 200px;
    height: 300px;
    background-color: bisque;
}
.penablok{
    width: 300px;
    height: 500px;
    background-color: aliceblue;
}
.stol{
width: 450px; 
height: 240px; 
background-color: yellow;
}
.stul{
    width: 450px;
    height: 50px; 
    background-color:salmon;
}
.parta{
    width: 44px;
    height: 85px; 
    background-color:ghostwhite;
}
.doska{
    width: 50px; 
    height: 45px; 
    background-color:gold;
}
.shkaf{
    width: 56px;
    height: 500px;
    background-color:grey;
}
.televizor{
    width: 85px; 
    height: 200px; 
    background-color:greenyellow;
}
.printir{
    width: 70px; ;
    height: 100px;
    background-color:royalblue;
}
.globus{
    width: 69px; 
    height: 70px; 
    background-color:blanchedalmond;
}
.gul{
    width: 750px; 
    height: 60px; 
    background-color:black;
}
.yer{
    width: 60px;
    height: 70px; 
    background-color:blanchedalmond;
}
rasm{
    width: 46px;
    height: 70px; 
    background-color:violet;
}
.foto{
    width: 90px; 
    height: 40px;
    background-color:olivedrab;
}
.odam{
width: 80px; 
height: 60px; 
background-color: whitesmoke;
}
.ayol{
    width: 85px;
    height: 46px; 
    background-color: red;
}
.erkak{
    width: 75px; 
    height: 66px;
    background-color:royalblue ;
}
.nemat{
    width: 35px;
    height: 88px; 
    background-color: blue;
}
.qiz{
    width: 64px;
    height: 22px;
    background-color:mediumblue ;
}
.manitor{
    width: 11px; 
    height: 22px; 
    background-color:mediumspringgreen ;
}
.ekran{
    width: 55px;
    height:22px;
    background-color:mediumorchid ;
}
.telefon{
    width:88px ;
    height:33px;
    background-color:mediumspringgreen; 
}
.abloshka{
    width: 44px;
    height: 87px; 
    background-color: mediumslateblue;
}
.deraza{
    width: 47px; 
    height: 31px;
    background-color:midnightblue; 
}
.quyosh{
    width: 77px; 
    height: 29px; 
    background-color: yellow;;
}
.gilam{
    width: 86px;
    height: 59px; 
    background-color:maroon ;
}
.romol{
    width: 76px; 
    height: 76px;
    background-color: mistyrose;
}
.bosh{
    width: 35px; 
    height: 35px; 
    background-color: mediumspringgreen;
}
.burun{
    width: 76px; 
    height: 76px; 
    background-color: mediumpurple;
}
.daraxt{
    width: 86px; 
    height: 98px; 
    background-color:navy; 
}
.yuz{
    width: 58px; 
    height: 68px;
    background-color: slateblue;
}
.mano{
    width: 76px;
    height: 28px;
    background-color:royalblue ;
}
.bosh{
    width: 40px;
    height: 60px; 
    background-color:mediumblue ;
}
.qol{
    width: 290px; ;
    height: 780px; ;
    background-color: ;
}
.oyoq{
    width: 630px; 
    height: 765px; 
    background-color: blue;
}
.barmoq{
    width: 556px; 
    height: 54px;
    background-color:rebeccapurple ;
}